.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes slideIn {
    0% {
      transform: translateX(-900px);
    }
    25% {
      transform: translateX(0);
    }
    50%{
      transform: translateX(-40px);
    }
    100% {
      transform: translateX(0);
  }
}

@keyframes colorFade {
    0% {
      color: rgb(255, 255, 255, 1);
    }
    100% {
      color: rgb(239, 217, 69, 1);
  }
}

/* html, body */

html {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  font-size: 100%;
  background-color: #666;
  text-align: center;
}

/* wrapper */

.wrapper {
  width: 60em;
  height: 60em;
  margin: 0 auto;
  position: relative;
  background: url(/bg.jpg) center no-repeat;
  background-size: cover;
  color: white;
  border: 1px solid black;
}

/* tables */

.table {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
}

.tablecell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* sections */

.top-right {
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  margin: 10px 10px 0 0;
  width: 100%;
}

.top-left {
  text-align: left;
  font-size: 4.7em;
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  margin: 10px 0 0 10px;
  z-index: 2;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  font-size: 3.8em;
  clear: both;
  margin: 0 10px 10px 10px;
}

.bottom {
  position: absolute;
  bottom: 0;
  height: 75%;
  margin: 0 10px 10px 10px;
  overflow: scroll;
  width: 99%;
}

.desc {
  font-size: 0.40em;
  text-align: center;
  padding-left: 3em;
  padding-right: 3em;
}

.project-container {
  display: flex;
  margin-bottom: 50px;
}

.project-left {
  justify-content: flex-start;
  margin-left: 0px;
}

.project-right {
  justify-content: flex-end;
  margin: 0px 20px 0px 20px;
  text-align: left;
  font-size: 1.3em;
}

/* elements */

h1#my-name {
  margin: 0;
  font-weight: 400;
  position: relative;
  -webkit-animation: slideIn 1s forwards;
  -moz-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}

h1.project-title {
  margin: 0;
}

/* images */

.img-circle {
  border-radius: 50%;
  width: 50%;
  border: 1px solid #111;
}

.img-project {
  height: 400px;
}

/* links */

a:visited {
  color: #FFF;
}

.top-left a:link {
  color: white;
  text-decoration: none;
}

.top-left a:hover {
  -webkit-animation: colorFade 1.2s forwards;
  -moz-animation: colorFade 1.2s forwards;
  animation: colorFade 1.2s forwards;
  text-decoration: none;
}

.bottom-right a:link {
  color: white;
  text-decoration: none;
}

.bottom-right i:hover {
  -webkit-animation: colorFade 1.2s forwards;
  -moz-animation: colorFade 1.2s forwards;
  animation: colorFade 1.2s forwards;
  text-decoration: none;
}

/* icons */

i {
  color: white;
  font-size: 0.8em;
}
