.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* html, body */

html {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  font-size: 100%;
  background-color: #666;
  text-align: center;
}

/* wrapper */

.wrapper {
  width: 60em;
  height: 60em;
  margin: 0 auto;
  position: relative;
  background: url(/bg.jpg) center no-repeat;
  background-size: cover;
  color: white;
  /* font-family: 'Monserrat', sans-serif; */
  border: 1px solid black;
}

/* tables */

.table {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
}

.tablecell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* sections */

.top-right {
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  margin: 10px 10px 0 0;
  width: 100%;
}

.top-left {
  text-align: left;
  font-size: 4.7em;
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  margin: 10px 0 0 10px;
  z-index: 2;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  font-size: 3.8em;
  clear: both;
  margin: 0 10px 10px 0;
}

/* elements */

h2 {
  margin: 0;
}

/* images */

.img-circle {
  border-radius: 50%;
  width: 50%;
  border: 1px solid #111;
}
